name: Tests

on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5
      - name: Setup Java 25
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '25'
      - name: Setup gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Setup selenoid
        uses: Xotabu4/selenoid-github-action@v2
      - name: Make gradle wrapper executable
        run: chmod +x ./gradlew
      - name: Running tests
        run: ./gradlew clean test -Dselenide.remote=http://localhost:4444/wd/hub
      - name: Checkout for test results
        uses: actions/checkout@v5
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages